APP_DEBUG=TRUE

MYSQL_HOST=mysql
MYSQL_PORT=3306
MYSQL_DATABASE=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_PREFIX=
MYSQL_CHARSET=
MYSQL_COLLATION=

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1

REDIS_QUEUE_DATABASE=2
REDIS_QUEUE_PREFIX=queue

REDIS_MAX_CONNECTIONS=5
REDIS_MIN_CONNECTIONS=5
REDIS_WAIT_TIMEOUT=3
REDIS_IDLE_TIMEOUT=60
REDIS_HEART_BEAT_INTERVAL=50

JWT_KEY=

JWT_AES_KEY=
JWT_AES_IV=

API_KEY=

IBS_AK=

COZE_APPID=
COZE_PUBLIC_KEY=
COZE_PRIVATE_KEY_PATH=
COZE_NUTRITION_WORKFLOW_ID=
COZE_TAG_WORKFLOW_ID=
COZE_UNIT_WORKFLOW_ID=

MP_APPID=
MP_SECRET=

BOS_REGION=
BOS_BUCKET=
BOS_ACCESS_KEY_ID=
BOS_ACCESS_KEY_SECRET=
BOS_DOMAIN=

SOURCE_DOMAIN=

NUTRITION_TEMPLATE_SHOW_KEY=kcal,pro,fat,carb,fiber,sugar

SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USERNAME=your_email@qq.com
SMTP_PASSWORD=your_auth_code
SMTP_FROM_ADDRESS=your_email@qq.com
SMTP_TO_ADDRESS=admin@example.com
